{% extends 'publico/base.html' %}
{% block title %}Eliminar Personal{% endblock %}

{% block content %}
<section class="p-6 max-w-xl mx-auto text-center">
  <h2 class="text-xl text-red-700 font-bold mb-4">
    ¿Estás seguro de desactivar a "{{ personal.nombres }} {{ personal.apellidos }}"?
  </h2>
  <form method="POST" class="space-x-4">
    {% csrf_token %}
    <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded">Desactivar</button>
    <a href="{% url 'listar_personal' %}" class="text-gray-700 hover:underline">Cancelar</a>
  </form>
</section>
{% endblock %}
